.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.button a {
    text-decoration: none;
    width: fit-content;
}

.button a:visited {
    color: var(--title-color);
}