:root {
    --background-color: white;
    --primary-color: #6251DD;
    --secondary-color: #F4F4FF;
    --accent-color: #EF6B4A;
    --title-color: #090937;
    --text-color: rgba(9, 9, 55, 0.6);
    --banner-background: #090937;
    --banner-text: white;
    --banner-title: #F0B861;
    --margins: 5vh 5vw 8vh 5vw;
    --border-radius: 0.5vw;
    --border-color: rgba(9, 9, 55, 0.1);
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Manrope, sans-serif;
    font-size: 16px;
}